.padre {
  margin: 10px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 50px 1fr auto;
  grid-gap: 5px;
  grid-template-areas:
    "nav nav nav"
    "container container container"
    "h1 h1 h1"
    "cont1 cont1 cont1"
    "footer footer footer";
}
.nav,
.navbar {
    grid-area: nav;
}
.container, .card-group{
    grid-area: container;
}
h1{
    grid-area: h1;
    font-family: 'Courier New', Courier, monospace;
    text-align: center;
    align-content: center;
}
.cont1, .accordion{
    grid-area: cont1;
    margin: 10px;
}